.popup-menu {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: rgb(0, 0, 0, .3);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
}

.popup-menu__container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
  width: 520px;
  height: 100vh;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.popup-menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
  margin: 159px 0 0;
  padding: 0;
}

.popup-menu__btn-close {
  position: absolute;
  background-image: url(../../images/iconClosePopup.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 22px;
  height: 22px;
  top: 22px;
  right: 22px;
  border: none;
  padding: 0;
  background-color: #fff;
}

.popup-menu__link {
  display: block;
  box-sizing: border-box;
  color: #000;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  padding: 0;
  margin: 0 0 28px;
}

.popup-menu__link:last-child {
  margin-bottom: 0;
}

.popup-menu__link-profile {
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  margin: auto 0 90px;
}

@media screen and (max-width: 560px) {
  .popup-menu__container {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .popup-menu__btn-close {
    top: 18px;
    right: 18px;
  }

  .popup-menu__links {
    margin-top: 144px;
  }

  .popup-menu__link_active {
    padding-bottom: 7px;
  }

  .popup-menu__link {
    margin-bottom: 24px;
  }

  .popup-menu__link-profile {
    margin-bottom: 46px;
  }
}
