.saved-movies {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.saved-movies__content-container {
  padding-bottom: 247px;
}

.saved-movies__description-container:hover .saved-movies__delete-image {
  opacity: 1;
  cursor: pointer;
}

.saved-movies__search-form__checkbox-container {
  border-bottom: 1px solid #E8E8E8;
}

.saved-movies__hide-block-more-items {
  display: none;
}

@media screen and (max-width: 768px) {
  .saved-movies__content-container {
    padding-bottom: 170px;
  }
}

@media screen and (max-width: 320px) {
  .saved-movies__content-container {
    padding-bottom: 166px;
  }
}

